---
layout: default
title: "Amazon Top List"
---

%div#home
  %div.tab-titles
    %a(href="#all") All Movies
    %a(href="#instant") Instant Movies
  %div#all.tab
    %div.tab-content
      %div.tab-section
        %h3 Bestsellers
        %ul.posts
          {% for post in site.tags.bs %}
          %li
            %span &raquo;
            %a(href="{{post.link}}"){{post.title}}
          {% endfor %}
      %div.tab-section
        %h3 Top Rated
        %ul.posts
          {% for post in site.tags.tr %}
          %li
            %span &raquo;
            %a(href="{{post.link}}"){{post.title}}
          {% endfor %}
  %div#instant.tab
    %div.tab-content
      %div.tab-section
        %h3 Bestsellers
        %ul.posts
          {% for post in site.tags.bsim %}
          %li
            %span &raquo;
            %a(href="{{post.link}}"){{post.title}}
          {% endfor %}
      %div.tab-section
        %h3 Top Rated
        %ul.posts
          {% for post in site.tags.bsim %}
          %li
            %span &raquo;
            %a(href="{{post.link}}"){{post.title}}
          {% endfor %}
%br.clear
