<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Reset from html5 boilerplate highlighting CSS -->
        <link rel="stylesheet" href="/css/normalize.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- More Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/screen.css">



        <!-- Standard JS Stuff -->
        <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <span class="extra">{{ site.time | date_to_long_string }}</span>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  AmazonTopList<br/>
                  The Top Movies on <a href="http://www.amazon.com">Amazon.com</a>.<br />
                  Updated on the hour, every hour.
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <script src="javascripts/main.js"></script>
    </body>
</html>
